nifi/flows/banking_pipeline.json
{
  "flowContents": {
    "identifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
    "instanceIdentifier": "9fb82f36-019e-1000-6f2e-2ebe65d4c2a5",
    "name": "NiFi Flow",
    "comments": "",
    "position": {
      "x": 0.0,
      "y": 0.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "f8ebb53e-5c94-3568-afda-1ade6a1d4588",
        "instanceIdentifier": "9fbd1b93-019e-1000-f345-7c085343a28c",
        "name": "PutSQL_FactAlert_Duplicate",
        "comments": "",
        "position": {
          "x": 1700.0,
          "y": 500.0
        },
        "type": "org.apache.nifi.processors.standard.PutSQL",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.23.2"
        },
        "properties": {
          "Support Fragmented Transactions": "true",
          "putsql-sql-statement": "INSERT INTO fact_alert (alert_id, transaction_id, rule_triggered, severity, detected_at) VALUES ('${alert_id}', '${txn_id}', '${rule_triggered}', '${severity}', NOW()) ON CONFLICT (alert_id) DO NOTHING",
          "Transaction Timeout": null,
          "Batch Size": "1",
          "Obtain Generated Keys": "false",
          "JDBC Connection Pool": "f267af8f-9d82-3ac2-9056-233e5b6bbf15",
          "database-session-autocommit": "false",
          "rollback-on-failure": "false"
        },
        "propertyDescriptors": {
          "Support Fragmented Transactions": {
            "name": "Support Fragmented Transactions",
            "displayName": "Support Fragmented Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "putsql-sql-statement": {
            "name": "putsql-sql-statement",
            "displayName": "SQL Statement",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Transaction Timeout": {
            "name": "Transaction Timeout",
            "displayName": "Transaction Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Obtain Generated Keys": {
            "name": "Obtain Generated Keys",
            "displayName": "Obtain Generated Keys",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "JDBC Connection Pool": {
            "name": "JDBC Connection Pool",
            "displayName": "JDBC Connection Pool",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "database-session-autocommit": {
            "name": "database-session-autocommit",
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "77d72136-f920-3a2e-8797-629e0193a66c",
        "instanceIdentifier": "9fbd1c5b-019e-1000-2ebe-5f6457f42e0d",
        "name": "PutSQL_FactAlert_OffHours",
        "comments": "",
        "position": {
          "x": 2100.0,
          "y": 700.0
        },
        "type": "org.apache.nifi.processors.standard.PutSQL",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.23.2"
        },
        "properties": {
          "Support Fragmented Transactions": "true",
          "putsql-sql-statement": "INSERT INTO fact_alert (alert_id, transaction_id, rule_triggered, severity, detected_at) VALUES ('${alert_id}', '${txn_id}', '${rule_triggered}', '${severity}', NOW()) ON CONFLICT (alert_id) DO NOTHING",
          "Transaction Timeout": null,
          "Batch Size": "1",
          "Obtain Generated Keys": "false",
          "JDBC Connection Pool": "f267af8f-9d82-3ac2-9056-233e5b6bbf15",
          "database-session-autocommit": "false",
          "rollback-on-failure": "false"
        },
        "propertyDescriptors": {
          "Support Fragmented Transactions": {
            "name": "Support Fragmented Transactions",
            "displayName": "Support Fragmented Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "putsql-sql-statement": {
            "name": "putsql-sql-statement",
            "displayName": "SQL Statement",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Transaction Timeout": {
            "name": "Transaction Timeout",
            "displayName": "Transaction Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Obtain Generated Keys": {
            "name": "Obtain Generated Keys",
            "displayName": "Obtain Generated Keys",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "JDBC Connection Pool": {
            "name": "JDBC Connection Pool",
            "displayName": "JDBC Connection Pool",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "database-session-autocommit": {
            "name": "database-session-autocommit",
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "3ceab768-85c6-3349-bdf9-9613391df91a",
        "instanceIdentifier": "9fbd1952-019e-1000-4bde-8cdd68df561b",
        "name": "CheckVelocity_Rule1",
        "comments": "",
        "position": {
          "x": 900.0,
          "y": 100.0
        },
        "type": "org.apache.nifi.processors.script.ExecuteScript",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-scripting-nar",
          "version": "1.23.2"
        },
        "properties": {
          "Script File": "/opt/nifi/nifi-current/scripts/velocity_check.groovy",
          "Script Engine": "Groovy",
          "Script Body": null,
          "DMCServiceId": "9fb8e9df-019e-1000-b3a5-67c32b2871e9",
          "Module Directory": null
        },
        "propertyDescriptors": {
          "Script File": {
            "name": "Script File",
            "displayName": "Script File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "Script Engine": {
            "name": "Script Engine",
            "displayName": "Script Engine",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Script Body": {
            "name": "Script Body",
            "displayName": "Script Body",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "DMCServiceId": {
            "name": "DMCServiceId",
            "displayName": "DMCServiceId",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Module Directory": {
            "name": "Module Directory",
            "displayName": "Module Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "FILE",
                "DIRECTORY"
              ]
            }
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "649324d1-1986-3dac-8b2f-e3a016589ed5",
        "instanceIdentifier": "9fbd1a58-019e-1000-6c27-353cbeb261a3",
        "name": "CheckDuplicate_Rule4",
        "comments": "",
        "position": {
          "x": 1300.0,
          "y": 100.0
        },
        "type": "org.apache.nifi.processors.script.ExecuteScript",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-scripting-nar",
          "version": "1.23.2"
        },
        "properties": {
          "Script File": "/opt/nifi/nifi-current/scripts/duplicate_check.groovy",
          "Script Engine": "Groovy",
          "Script Body": null,
          "DMCServiceId": "9fb8e9df-019e-1000-b3a5-67c32b2871e9",
          "Module Directory": null
        },
        "propertyDescriptors": {
          "Script File": {
            "name": "Script File",
            "displayName": "Script File",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "Script Engine": {
            "name": "Script Engine",
            "displayName": "Script Engine",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Script Body": {
            "name": "Script Body",
            "displayName": "Script Body",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "DMCServiceId": {
            "name": "DMCServiceId",
            "displayName": "DMCServiceId",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Module Directory": {
            "name": "Module Directory",
            "displayName": "Module Directory",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "FILE",
                "DIRECTORY"
              ]
            }
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "29b570c4-71ab-3a15-8d02-b30c6f2dcbbe",
        "instanceIdentifier": "9fbd18f4-019e-1000-e0cd-21f5c506ad20",
        "name": "ConsumeKafka_txn_raw",
        "comments": "",
        "position": {
          "x": 100.0,
          "y": 100.0
        },
        "type": "org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-2-6-nar",
          "version": "1.23.2"
        },
        "properties": {
          "header-name-regex": null,
          "Commit Offsets": "true",
          "group.id": "nifi-banking-consumer",
          "bootstrap.servers": "kafka:29092",
          "topic_type": "names",
          "sasl.kerberos.principal": null,
          "sasl.kerberos.service.name": null,
          "kerberos-credentials-service": null,
          "max-uncommit-offset-wait": "1 secs",
          "sasl.mechanism": "GSSAPI",
          "honor-transactions": "false",
          "kerberos-user-service": null,
          "message-header-encoding": "UTF-8",
          "message-demarcator": null,
          "sasl.username": null,
          "max.poll.records": "500",
          "aws.profile.name": null,
          "security.protocol": "PLAINTEXT",
          "ssl.context.service": null,
          "sasl.token.auth": "false",
          "sasl.kerberos.keytab": null,
          "Communications Timeout": "60 secs",
          "topic": "txn.raw",
          "separate-by-key": "false",
          "key-attribute-encoding": "utf-8",
          "auto.offset.reset": "latest"
        },
        "propertyDescriptors": {
          "header-name-regex": {
            "name": "header-name-regex",
            "displayName": "Headers to Add as Attributes (Regex)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Commit Offsets": {
            "name": "Commit Offsets",
            "displayName": "Commit Offsets",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "group.id": {
            "name": "group.id",
            "displayName": "Group ID",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "bootstrap.servers": {
            "name": "bootstrap.servers",
            "displayName": "Kafka Brokers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "topic_type": {
            "name": "topic_type",
            "displayName": "Topic Name Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.principal": {
            "name": "sasl.kerberos.principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.service.name": {
            "name": "sasl.kerberos.service.name",
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "max-uncommit-offset-wait": {
            "name": "max-uncommit-offset-wait",
            "displayName": "Max Uncommitted Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.mechanism": {
            "name": "sasl.mechanism",
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "honor-transactions": {
            "name": "honor-transactions",
            "displayName": "Honor Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "message-header-encoding": {
            "name": "message-header-encoding",
            "displayName": "Message Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "message-demarcator": {
            "name": "message-demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.username": {
            "name": "sasl.username",
            "displayName": "Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max.poll.records": {
            "name": "max.poll.records",
            "displayName": "Max Poll Records",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "aws.profile.name": {
            "name": "aws.profile.name",
            "displayName": "AWS Profile Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "security.protocol": {
            "name": "security.protocol",
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ssl.context.service": {
            "name": "ssl.context.service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "sasl.token.auth": {
            "name": "sasl.token.auth",
            "displayName": "Token Authentication",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.keytab": {
            "name": "sasl.kerberos.keytab",
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "Communications Timeout": {
            "name": "Communications Timeout",
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "topic": {
            "name": "topic",
            "displayName": "Topic Name(s)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "separate-by-key": {
            "name": "separate-by-key",
            "displayName": "Separate By Key",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.password": {
            "name": "sasl.password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "key-attribute-encoding": {
            "name": "key-attribute-encoding",
            "displayName": "Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "auto.offset.reset": {
            "name": "auto.offset.reset",
            "displayName": "Offset Reset",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "59abb805-f15b-3a83-a796-520b8b15af27",
        "instanceIdentifier": "9fbd1b57-019e-1000-5e4f-7c6957244f52",
        "name": "PutSQL_FactAlert_Velocity",
        "comments": "",
        "position": {
          "x": 900.0,
          "y": 500.0
        },
        "type": "org.apache.nifi.processors.standard.PutSQL",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.23.2"
        },
        "properties": {
          "Support Fragmented Transactions": "true",
          "putsql-sql-statement": "INSERT INTO fact_alert (alert_id, transaction_id, rule_triggered, severity, detected_at) VALUES ('${alert_id}', '${txn_id}', '${rule_triggered}', '${severity}', NOW()) ON CONFLICT (alert_id) DO NOTHING",
          "Transaction Timeout": null,
          "Batch Size": "1",
          "Obtain Generated Keys": "false",
          "JDBC Connection Pool": "f267af8f-9d82-3ac2-9056-233e5b6bbf15",
          "database-session-autocommit": "false",
          "rollback-on-failure": "false"
        },
        "propertyDescriptors": {
          "Support Fragmented Transactions": {
            "name": "Support Fragmented Transactions",
            "displayName": "Support Fragmented Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "putsql-sql-statement": {
            "name": "putsql-sql-statement",
            "displayName": "SQL Statement",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Transaction Timeout": {
            "name": "Transaction Timeout",
            "displayName": "Transaction Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Batch Size": {
            "name": "Batch Size",
            "displayName": "Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Obtain Generated Keys": {
            "name": "Obtain Generated Keys",
            "displayName": "Obtain Generated Keys",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "JDBC Connection Pool": {
            "name": "JDBC Connection Pool",
            "displayName": "JDBC Connection Pool",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "database-session-autocommit": {
            "name": "database-session-autocommit",
            "displayName": "Database Session AutoCommit",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "061a147c-0169-3e39-ad94-b3a52eebd406",
        "instanceIdentifier": "9fbd1c21-019e-1000-9d12-f408ef4ed371",
        "name": "UpdateAttribute_Rule3_Alert",
        "comments": "",
        "position": {
          "x": 2100.0,
          "y": 550.0
        },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-update-attribute-nar",
          "version": "1.23.2"
        },
        "properties": {
          "severity": "HIGH",
          "fraud_flag": "true",
          "Delete Attributes Expression": null,
          "rule_triggered": "off_hours_large",
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "alert_id": "ALT-R3-${UUID():replace('-',''):substring(0,8):toUpper()}",
          "Stateful Variables Initial Value": null
        },
        "propertyDescriptors": {
          "severity": {
            "name": "severity",
            "displayName": "severity",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "fraud_flag": {
            "name": "fraud_flag",
            "displayName": "fraud_flag",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Delete Attributes Expression": {
            "name": "Delete Attributes Expression",
            "displayName": "Delete Attributes Expression",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rule_triggered": {
            "name": "rule_triggered",
            "displayName": "rule_triggered",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Store State": {
            "name": "Store State",
            "displayName": "Store State",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "canonical-value-lookup-cache-size": {
            "name": "canonical-value-lookup-cache-size",
            "displayName": "Cache Value Lookup Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "alert_id": {
            "name": "alert_id",
            "displayName": "alert_id",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Stateful Variables Initial Value": {
            "name": "Stateful Variables Initial Value",
            "displayName": "Stateful Variables Initial Value",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 25,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "d2c90423-e003-36f3-8d97-865abfcd8398",
        "instanceIdentifier": "9fbd1a90-019e-1000-0dea-ca22ae74588d",
        "name": "QueryRecord_Rule3_OffHours",
        "comments": "",
        "position": {
          "x": 1700.0,
          "y": 100.0
        },
        "type": "org.apache.nifi.processors.standard.QueryRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.23.2"
        },
        "properties": {
          "cache-schema": "true",
          "dbf-default-precision": "10",
          "record-writer": "83923456-ee90-3396-9dbf-767fe60abadb",
          "record-reader": "a12a248f-9437-3a50-b92a-6a395a507c82",
          "include-zero-record-flowfiles": "false",
          "dbf-default-scale": "0",
          "fraud_rule3": "SELECT * FROM FLOWFILE WHERE CAST(\"amount\" AS BIGINT) > 50000000 AND (EXTRACT(HOUR FROM CAST(\"timestamp\" AS TIMESTAMP)) >= 22 OR EXTRACT(HOUR FROM CAST(\"timestamp\" AS TIMESTAMP)) < 6)"
        },
        "propertyDescriptors": {
          "cache-schema": {
            "name": "cache-schema",
            "displayName": "Cache Schema",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-precision": {
            "name": "dbf-default-precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "include-zero-record-flowfiles": {
            "name": "include-zero-record-flowfiles",
            "displayName": "Include Zero Record FlowFiles",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-scale": {
            "name": "dbf-default-scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "fraud_rule3": {
            "name": "fraud_rule3",
            "displayName": "fraud_rule3",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "ee60269b-ba5f-30a7-8213-05bbee7955c2",
        "instanceIdentifier": "9fbd1916-019e-1000-6084-fd2119881358",
        "name": "LookupRecord_Customer",
        "comments": "",
        "position": {
          "x": 500.0,
          "y": 100.0
        },
        "type": "org.apache.nifi.processors.standard.LookupRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.23.2"
        },
        "properties": {
          "result-contents": "insert-entire-record",
          "routing-strategy": "route-to-success",
          "record-path-lookup-miss-result-cache-size": "0",
          "result-record-path": "/",
          "record-writer": "83923456-ee90-3396-9dbf-767fe60abadb",
          "record-reader": "a12a248f-9437-3a50-b92a-6a395a507c82",
          "lookup-service": "5f3f1d00-8ca5-3818-95cc-f322006f9e8e",
          "record-update-strategy": "use-property",
          "key": "/customer_id"
        },
        "propertyDescriptors": {
          "result-contents": {
            "name": "result-contents",
            "displayName": "Record Result Contents",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "routing-strategy": {
            "name": "routing-strategy",
            "displayName": "Routing Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-path-lookup-miss-result-cache-size": {
            "name": "record-path-lookup-miss-result-cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "result-record-path": {
            "name": "result-record-path",
            "displayName": "Result RecordPath",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "record-writer": {
            "name": "record-writer",
            "displayName": "Record Writer",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "record-reader": {
            "name": "record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "lookup-service": {
            "name": "lookup-service",
            "displayName": "Lookup Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "record-update-strategy": {
            "name": "record-update-strategy",
            "displayName": "Record Update Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "key": {
            "name": "key",
            "displayName": "key",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "8b99cf54-6910-361d-9f60-2f8222508dac",
        "instanceIdentifier": "9fbd1acd-019e-1000-f7f8-2587dd586e17",
        "name": "PutDatabaseRecord_fact_txn",
        "comments": "",
        "position": {
          "x": 2100.0,
          "y": 100.0
        },
        "type": "org.apache.nifi.processors.standard.PutDatabaseRecord",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.23.2"
        },
        "properties": {
          "put-db-record-allow-multiple-statements": "false",
          "put-db-record-schema-name": null,
          "put-db-record-field-containing-sql": null,
          "put-db-record-unmatched-column-behavior": "Fail on Unmatched Columns",
          "put-db-record-catalog-name": null,
          "put-db-record-statement-type": "INSERT",
          "Unmatched Field Behavior": "Ignore Unmatched Fields",
          "put-db-record-update-keys": null,
          "put-db-record-quoted-identifiers": "false",
          "put-db-record-unmatched-field-behavior": "Ignore Unmatched Fields",
          "put-db-record-max-batch-size": "1000",
          "Rollback On Failure": "false",
          "Data Record Path": null,
          "table-schema-cache-size": "100",
          "Quoted Identifiers": "false",
          "put-db-record-quoted-table-identifiers": "false",
          "Statement Type Record Path": null,
          "put-db-record-translate-field-names": "true",
          "put-db-record-dcbp-service": "f267af8f-9d82-3ac2-9056-233e5b6bbf15",
          "put-db-record-query-timeout": "0 seconds",
          "rollback-on-failure": "false",
          "db-type": "PostgreSQL",
          "Unmatched Column Behavior": "Warning Unmatched Columns",
          "put-db-record-table-name": "fact_txn",
          "put-db-record-record-reader": "a12a248f-9437-3a50-b92a-6a395a507c82",
          "Translate Field Names": "true"
        },
        "propertyDescriptors": {
          "put-db-record-allow-multiple-statements": {
            "name": "put-db-record-allow-multiple-statements",
            "displayName": "Allow Multiple SQL Statements",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-schema-name": {
            "name": "put-db-record-schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-field-containing-sql": {
            "name": "put-db-record-field-containing-sql",
            "displayName": "Field Containing SQL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-unmatched-column-behavior": {
            "name": "put-db-record-unmatched-column-behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-catalog-name": {
            "name": "put-db-record-catalog-name",
            "displayName": "Catalog Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-statement-type": {
            "name": "put-db-record-statement-type",
            "displayName": "Statement Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Unmatched Field Behavior": {
            "name": "Unmatched Field Behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-update-keys": {
            "name": "put-db-record-update-keys",
            "displayName": "Update Keys",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-quoted-identifiers": {
            "name": "put-db-record-quoted-identifiers",
            "displayName": "Quote Column Identifiers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-unmatched-field-behavior": {
            "name": "put-db-record-unmatched-field-behavior",
            "displayName": "Unmatched Field Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-max-batch-size": {
            "name": "put-db-record-max-batch-size",
            "displayName": "Maximum Batch Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Rollback On Failure": {
            "name": "Rollback On Failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Data Record Path": {
            "name": "Data Record Path",
            "displayName": "Data Record Path",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "table-schema-cache-size": {
            "name": "table-schema-cache-size",
            "displayName": "Table Schema Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Quoted Identifiers": {
            "name": "Quoted Identifiers",
            "displayName": "Quoted Identifiers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-quoted-table-identifiers": {
            "name": "put-db-record-quoted-table-identifiers",
            "displayName": "Quote Table Identifiers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Statement Type Record Path": {
            "name": "Statement Type Record Path",
            "displayName": "Statement Type Record Path",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-translate-field-names": {
            "name": "put-db-record-translate-field-names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-dcbp-service": {
            "name": "put-db-record-dcbp-service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "put-db-record-query-timeout": {
            "name": "put-db-record-query-timeout",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "rollback-on-failure": {
            "name": "rollback-on-failure",
            "displayName": "Rollback On Failure",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "db-type": {
            "name": "db-type",
            "displayName": "Database Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Unmatched Column Behavior": {
            "name": "Unmatched Column Behavior",
            "displayName": "Unmatched Column Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-table-name": {
            "name": "put-db-record-table-name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "put-db-record-record-reader": {
            "name": "put-db-record-record-reader",
            "displayName": "Record Reader",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Translate Field Names": {
            "name": "Translate Field Names",
            "displayName": "Translate Field Names",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure",
          "retry"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "f2d58621-fb5c-3d05-8462-4dce48cf42ff",
        "instanceIdentifier": "9fbd1b18-019e-1000-33f3-10fc38f654fe",
        "name": "PublishKafka_txn_alert",
        "comments": "",
        "position": {
          "x": 1300.0,
          "y": 500.0
        },
        "type": "org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-kafka-2-6-nar",
          "version": "1.23.2"
        },
        "properties": {
          "compression.type": "none",
          "attribute-name-regex": null,
          "bootstrap.servers": "kafka:29092",
          "sasl.kerberos.principal": null,
          "sasl.kerberos.service.name": null,
          "kerberos-credentials-service": null,
          "kafka-key": null,
          "partition": null,
          "sasl.mechanism": "GSSAPI",
          "max.block.ms": "5 sec",
          "message-header-encoding": "UTF-8",
          "kerberos-user-service": null,
          "message-demarcator": null,
          "transactional-id-prefix": null,
          "ack.wait.time": "5 secs",
          "sasl.username": null,
          "use-transactions": "false",
          "acks": "all",
          "aws.profile.name": null,
          "security.protocol": "PLAINTEXT",
          "ssl.context.service": null,
          "max.request.size": "1 MB",
          "sasl.token.auth": "false",
          "Failure Strategy": "Route to Failure",
          "partitioner.class": "org.apache.kafka.clients.producer.internals.DefaultPartitioner",
          "sasl.kerberos.keytab": null,
          "topic": "txn.alert",
          "key-attribute-encoding": "utf-8"
        },
        "propertyDescriptors": {
          "compression.type": {
            "name": "compression.type",
            "displayName": "Compression Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "attribute-name-regex": {
            "name": "attribute-name-regex",
            "displayName": "Attributes to Send as Headers (Regex)",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "bootstrap.servers": {
            "name": "bootstrap.servers",
            "displayName": "Kafka Brokers",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.principal": {
            "name": "sasl.kerberos.principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.service.name": {
            "name": "sasl.kerberos.service.name",
            "displayName": "Kerberos Service Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "kafka-key": {
            "name": "kafka-key",
            "displayName": "Kafka Key",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "partition": {
            "name": "partition",
            "displayName": "Partition",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.mechanism": {
            "name": "sasl.mechanism",
            "displayName": "SASL Mechanism",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "max.block.ms": {
            "name": "max.block.ms",
            "displayName": "Max Metadata Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "message-header-encoding": {
            "name": "message-header-encoding",
            "displayName": "Message Header Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "message-demarcator": {
            "name": "message-demarcator",
            "displayName": "Message Demarcator",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "transactional-id-prefix": {
            "name": "transactional-id-prefix",
            "displayName": "Transactional Id Prefix",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ack.wait.time": {
            "name": "ack.wait.time",
            "displayName": "Acknowledgment Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.username": {
            "name": "sasl.username",
            "displayName": "Username",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "use-transactions": {
            "name": "use-transactions",
            "displayName": "Use Transactions",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "acks": {
            "name": "acks",
            "displayName": "Delivery Guarantee",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "aws.profile.name": {
            "name": "aws.profile.name",
            "displayName": "AWS Profile Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "security.protocol": {
            "name": "security.protocol",
            "displayName": "Security Protocol",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "ssl.context.service": {
            "name": "ssl.context.service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "max.request.size": {
            "name": "max.request.size",
            "displayName": "Max Request Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.token.auth": {
            "name": "sasl.token.auth",
            "displayName": "Token Authentication",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Failure Strategy": {
            "name": "Failure Strategy",
            "displayName": "Failure Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "partitioner.class": {
            "name": "partitioner.class",
            "displayName": "Partitioner class",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.kerberos.keytab": {
            "name": "sasl.kerberos.keytab",
            "displayName": "Kerberos Keytab",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "SINGLE",
              "resourceTypes": [
                "FILE"
              ]
            }
          },
          "topic": {
            "name": "topic",
            "displayName": "Topic Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "sasl.password": {
            "name": "sasl.password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "key-attribute-encoding": {
            "name": "key-attribute-encoding",
            "displayName": "Key Attribute Encoding",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "success",
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "b755056f-d3e9-3859-aca0-3c8d09215272",
        "instanceIdentifier": "9fbd1bd0-019e-1000-cbb8-d0e3c289771e",
        "name": "EvaluateJsonPath_Rule3",
        "comments": "",
        "position": {
          "x": 2100.0,
          "y": 400.0
        },
        "type": "org.apache.nifi.processors.standard.EvaluateJsonPath",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-standard-nar",
          "version": "1.23.2"
        },
        "properties": {
          "txn_id": "$[0].transaction_id",
          "Destination": "flowfile-attribute",
          "Return Type": "auto-detect",
          "Null Value Representation": "empty string",
          "Path Not Found Behavior": "ignore"
        },
        "propertyDescriptors": {
          "txn_id": {
            "name": "txn_id",
            "displayName": "txn_id",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Destination": {
            "name": "Destination",
            "displayName": "Destination",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Return Type": {
            "name": "Return Type",
            "displayName": "Return Type",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Null Value Representation": {
            "name": "Null Value Representation",
            "displayName": "Null Value Representation",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Path Not Found Behavior": {
            "name": "Path Not Found Behavior",
            "displayName": "Path Not Found Behavior",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [
          "failure"
        ],
        "scheduledState": "ENABLED",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "eb6ac23d-8145-3c28-b3a3-0e0c05868dea",
        "instanceIdentifier": "9fbd1f98-019e-1000-51ff-4ab8a7686deb",
        "name": "r3_alert->fact_txn",
        "source": {
          "id": "061a147c-0169-3e39-ad94-b3a52eebd406",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "UpdateAttribute_Rule3_Alert",
          "comments": "",
          "instanceIdentifier": "9fbd1c21-019e-1000-9d12-f408ef4ed371"
        },
        "destination": {
          "id": "8b99cf54-6910-361d-9f60-2f8222508dac",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PutDatabaseRecord_fact_txn",
          "comments": "",
          "instanceIdentifier": "9fbd1acd-019e-1000-f7f8-2587dd586e17"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "56d34548-16b7-3b59-aae9-42724fd40ed5",
        "instanceIdentifier": "9fbd1fd6-019e-1000-7db9-91c131920560",
        "name": "r3_alert->fact_alert_r3",
        "source": {
          "id": "061a147c-0169-3e39-ad94-b3a52eebd406",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "UpdateAttribute_Rule3_Alert",
          "comments": "",
          "instanceIdentifier": "9fbd1c21-019e-1000-9d12-f408ef4ed371"
        },
        "destination": {
          "id": "77d72136-f920-3a2e-8797-629e0193a66c",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PutSQL_FactAlert_OffHours",
          "comments": "",
          "instanceIdentifier": "9fbd1c5b-019e-1000-2ebe-5f6457f42e0d"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "682a6e6b-9eee-3606-8dcf-fb65272e7657",
        "instanceIdentifier": "9fbd1e13-019e-1000-2f6c-5a83806130e1",
        "name": "dup_fail->fact_txn",
        "source": {
          "id": "649324d1-1986-3dac-8b2f-e3a016589ed5",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckDuplicate_Rule4",
          "comments": "",
          "instanceIdentifier": "9fbd1a58-019e-1000-6c27-353cbeb261a3"
        },
        "destination": {
          "id": "8b99cf54-6910-361d-9f60-2f8222508dac",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PutDatabaseRecord_fact_txn",
          "comments": "",
          "instanceIdentifier": "9fbd1acd-019e-1000-f7f8-2587dd586e17"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "41475482-801c-38bf-9e52-7e046dbb1d7b",
        "instanceIdentifier": "9fbd1f20-019e-1000-4bd7-904196d26bd1",
        "name": "eval->update_attr",
        "source": {
          "id": "b755056f-d3e9-3859-aca0-3c8d09215272",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "EvaluateJsonPath_Rule3",
          "comments": "",
          "instanceIdentifier": "9fbd1bd0-019e-1000-cbb8-d0e3c289771e"
        },
        "destination": {
          "id": "061a147c-0169-3e39-ad94-b3a52eebd406",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "UpdateAttribute_Rule3_Alert",
          "comments": "",
          "instanceIdentifier": "9fbd1c21-019e-1000-9d12-f408ef4ed371"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "matched",
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "0bffc9f9-912a-3536-a877-ae8f1e0fc197",
        "instanceIdentifier": "9fbd1de1-019e-1000-67f3-a48dcad2c9e5",
        "name": "dup_fail->kafka_alert",
        "source": {
          "id": "649324d1-1986-3dac-8b2f-e3a016589ed5",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckDuplicate_Rule4",
          "comments": "",
          "instanceIdentifier": "9fbd1a58-019e-1000-6c27-353cbeb261a3"
        },
        "destination": {
          "id": "f2d58621-fb5c-3d05-8462-4dce48cf42ff",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PublishKafka_txn_alert",
          "comments": "",
          "instanceIdentifier": "9fbd1b18-019e-1000-33f3-10fc38f654fe"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "5df836e9-3295-3fd3-be7e-054fa0f30ea3",
        "instanceIdentifier": "9fbd1ce7-019e-1000-fddb-b17872778e60",
        "name": "lookup->velocity",
        "source": {
          "id": "ee60269b-ba5f-30a7-8213-05bbee7955c2",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "LookupRecord_Customer",
          "comments": "",
          "instanceIdentifier": "9fbd1916-019e-1000-6084-fd2119881358"
        },
        "destination": {
          "id": "3ceab768-85c6-3349-bdf9-9613391df91a",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckVelocity_Rule1",
          "comments": "",
          "instanceIdentifier": "9fbd1952-019e-1000-4bde-8cdd68df561b"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success",
          "unmatched"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "8bc39b5a-18c4-33fc-89a6-b628be01f7c8",
        "instanceIdentifier": "9fbd1ee5-019e-1000-1a74-634a07b7432d",
        "name": "qr_fraud->eval_json",
        "source": {
          "id": "d2c90423-e003-36f3-8d97-865abfcd8398",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "QueryRecord_Rule3_OffHours",
          "comments": "",
          "instanceIdentifier": "9fbd1a90-019e-1000-0dea-ca22ae74588d"
        },
        "destination": {
          "id": "b755056f-d3e9-3859-aca0-3c8d09215272",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "EvaluateJsonPath_Rule3",
          "comments": "",
          "instanceIdentifier": "9fbd1bd0-019e-1000-cbb8-d0e3c289771e"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "fraud_rule3"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "dcc23a83-f307-36a6-a8b0-bb3123621e42",
        "instanceIdentifier": "9fbd1f5c-019e-1000-cef6-fb7e000e4831",
        "name": "r3_alert->kafka",
        "source": {
          "id": "061a147c-0169-3e39-ad94-b3a52eebd406",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "UpdateAttribute_Rule3_Alert",
          "comments": "",
          "instanceIdentifier": "9fbd1c21-019e-1000-9d12-f408ef4ed371"
        },
        "destination": {
          "id": "f2d58621-fb5c-3d05-8462-4dce48cf42ff",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PublishKafka_txn_alert",
          "comments": "",
          "instanceIdentifier": "9fbd1b18-019e-1000-33f3-10fc38f654fe"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "ab609781-84dc-3410-9409-c50fed663d92",
        "instanceIdentifier": "9fbd1e80-019e-1000-5d94-8d986d65cf86",
        "name": "dup_ok->query_rule3",
        "source": {
          "id": "649324d1-1986-3dac-8b2f-e3a016589ed5",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckDuplicate_Rule4",
          "comments": "",
          "instanceIdentifier": "9fbd1a58-019e-1000-6c27-353cbeb261a3"
        },
        "destination": {
          "id": "d2c90423-e003-36f3-8d97-865abfcd8398",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "QueryRecord_Rule3_OffHours",
          "comments": "",
          "instanceIdentifier": "9fbd1a90-019e-1000-0dea-ca22ae74588d"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "abe3e898-d95f-3085-a9e8-033ba29cbd37",
        "instanceIdentifier": "9fbd1d4b-019e-1000-ca78-49c4304755ac",
        "name": "vel_fail->fact_txn",
        "source": {
          "id": "3ceab768-85c6-3349-bdf9-9613391df91a",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckVelocity_Rule1",
          "comments": "",
          "instanceIdentifier": "9fbd1952-019e-1000-4bde-8cdd68df561b"
        },
        "destination": {
          "id": "8b99cf54-6910-361d-9f60-2f8222508dac",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PutDatabaseRecord_fact_txn",
          "comments": "",
          "instanceIdentifier": "9fbd1acd-019e-1000-f7f8-2587dd586e17"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "aea91fd4-ede6-33fe-973c-ecf890298c02",
        "instanceIdentifier": "9fbd1daf-019e-1000-b95f-2907cae19eed",
        "name": "vel_ok->dup",
        "source": {
          "id": "3ceab768-85c6-3349-bdf9-9613391df91a",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckVelocity_Rule1",
          "comments": "",
          "instanceIdentifier": "9fbd1952-019e-1000-4bde-8cdd68df561b"
        },
        "destination": {
          "id": "649324d1-1986-3dac-8b2f-e3a016589ed5",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckDuplicate_Rule4",
          "comments": "",
          "instanceIdentifier": "9fbd1a58-019e-1000-6c27-353cbeb261a3"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "e5a14c52-bd0e-302b-84aa-607c60d7b915",
        "instanceIdentifier": "9fbd1eb3-019e-1000-766b-74216d015563",
        "name": "qr_clean->fact_txn",
        "source": {
          "id": "d2c90423-e003-36f3-8d97-865abfcd8398",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "QueryRecord_Rule3_OffHours",
          "comments": "",
          "instanceIdentifier": "9fbd1a90-019e-1000-0dea-ca22ae74588d"
        },
        "destination": {
          "id": "8b99cf54-6910-361d-9f60-2f8222508dac",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PutDatabaseRecord_fact_txn",
          "comments": "",
          "instanceIdentifier": "9fbd1acd-019e-1000-f7f8-2587dd586e17"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "original"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "425b8f49-64a1-3921-a831-ab31db5ae56f",
        "instanceIdentifier": "9fbd1e4f-019e-1000-2cb3-f104a87285d3",
        "name": "dup_fail->fact_alert_dup",
        "source": {
          "id": "649324d1-1986-3dac-8b2f-e3a016589ed5",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckDuplicate_Rule4",
          "comments": "",
          "instanceIdentifier": "9fbd1a58-019e-1000-6c27-353cbeb261a3"
        },
        "destination": {
          "id": "f8ebb53e-5c94-3568-afda-1ade6a1d4588",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PutSQL_FactAlert_Duplicate",
          "comments": "",
          "instanceIdentifier": "9fbd1b93-019e-1000-f345-7c085343a28c"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "9afe738e-ca71-344a-87bc-2158f9860117",
        "instanceIdentifier": "9fbd1d19-019e-1000-2db6-66fe4e3cde2d",
        "name": "vel_fail->kafka_alert",
        "source": {
          "id": "3ceab768-85c6-3349-bdf9-9613391df91a",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckVelocity_Rule1",
          "comments": "",
          "instanceIdentifier": "9fbd1952-019e-1000-4bde-8cdd68df561b"
        },
        "destination": {
          "id": "f2d58621-fb5c-3d05-8462-4dce48cf42ff",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PublishKafka_txn_alert",
          "comments": "",
          "instanceIdentifier": "9fbd1b18-019e-1000-33f3-10fc38f654fe"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "a5629325-2bba-3282-be30-3e4afe931744",
        "instanceIdentifier": "9fbd1ca2-019e-1000-4ef8-2d6e66a53652",
        "name": "raw->lookup",
        "source": {
          "id": "29b570c4-71ab-3a15-8d02-b30c6f2dcbbe",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "ConsumeKafka_txn_raw",
          "comments": "",
          "instanceIdentifier": "9fbd18f4-019e-1000-e0cd-21f5c506ad20"
        },
        "destination": {
          "id": "ee60269b-ba5f-30a7-8213-05bbee7955c2",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "LookupRecord_Customer",
          "comments": "",
          "instanceIdentifier": "9fbd1916-019e-1000-6084-fd2119881358"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "53f2105a-da1f-3385-8e99-58d60721a163",
        "instanceIdentifier": "9fbd1d7d-019e-1000-feda-e5d79aadb7b2",
        "name": "vel_fail->fact_alert_vel",
        "source": {
          "id": "3ceab768-85c6-3349-bdf9-9613391df91a",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "CheckVelocity_Rule1",
          "comments": "",
          "instanceIdentifier": "9fbd1952-019e-1000-4bde-8cdd68df561b"
        },
        "destination": {
          "id": "59abb805-f15b-3a83-a796-520b8b15af27",
          "type": "PROCESSOR",
          "groupId": "f754ce26-45b9-3ed5-9b41-4e043a9d800d",
          "name": "PutSQL_FactAlert_Velocity",
          "comments": "",
          "instanceIdentifier": "9fbd1b57-019e-1000-5e4f-7c6957244f52"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "failure"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      }
    ],
    "labels": [],
    "funnels": [],
    "controllerServices": [
      {
        "identifier": "83923456-ee90-3396-9dbf-767fe60abadb",
        "instanceIdentifier": "9fb8e8cf-019e-1000-653b-d9a05b1b12fc",
        "name": "JsonRecordSetWriter",
        "type": "org.apache.nifi.json.JsonRecordSetWriter",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.23.2"
        },
        "properties": {
          "schema-branch": null,
          "compression-level": "1",
          "schema-cache": null,
          "Timestamp Format": null,
          "Date Format": null,
          "Pretty Print JSON": "false",
          "compression-format": "none",
          "Schema Write Strategy": "no-schema",
          "suppress-nulls": "never-suppress",
          "output-grouping": "output-array",
          "schema-name": "${schema.name}",
          "schema-registry": null,
          "Time Format": null,
          "schema-access-strategy": "inherit-record-schema",
          "schema-protocol-version": "1",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-level": {
            "name": "compression-level",
            "displayName": "Compression Level",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-cache": {
            "name": "schema-cache",
            "displayName": "Schema Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Pretty Print JSON": {
            "name": "Pretty Print JSON",
            "displayName": "Pretty Print JSON",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "compression-format": {
            "name": "compression-format",
            "displayName": "Compression Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Schema Write Strategy": {
            "name": "Schema Write Strategy",
            "displayName": "Schema Write Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "suppress-nulls": {
            "name": "suppress-nulls",
            "displayName": "Suppress Null Values",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "output-grouping": {
            "name": "output-grouping",
            "displayName": "Output Grouping",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-protocol-version": {
            "name": "schema-protocol-version",
            "displayName": "Schema Protocol Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordSetWriterFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.23.2"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "5f3f1d00-8ca5-3818-95cc-f322006f9e8e",
        "instanceIdentifier": "9fb8e968-019e-1000-b3ac-64df1c7428f8",
        "name": "DatabaseRecordLookupService",
        "type": "org.apache.nifi.lookup.db.DatabaseRecordLookupService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-lookup-services-nar",
          "version": "1.23.2"
        },
        "properties": {
          "dbrecord-lookup-dbcp-service": "f267af8f-9d82-3ac2-9056-233e5b6bbf15",
          "dbf-default-precision": "10",
          "dbrecord-lookup-clear-cache-on-enabled": "true",
          "dbrecord-lookup-cache-size": "0",
          "dbrecord-lookup-value-columns": null,
          "dbrecord-lookup-key-column": "customer_id",
          "Cache Expiration": null,
          "dbf-default-scale": "0",
          "dbrecord-lookup-table-name": "dim_customer"
        },
        "propertyDescriptors": {
          "dbrecord-lookup-dbcp-service": {
            "name": "dbrecord-lookup-dbcp-service",
            "displayName": "Database Connection Pooling Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbf-default-precision": {
            "name": "dbf-default-precision",
            "displayName": "Default Decimal Precision",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-clear-cache-on-enabled": {
            "name": "dbrecord-lookup-clear-cache-on-enabled",
            "displayName": "Clear Cache on Enabled",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-cache-size": {
            "name": "dbrecord-lookup-cache-size",
            "displayName": "Cache Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-value-columns": {
            "name": "dbrecord-lookup-value-columns",
            "displayName": "Lookup Value Columns",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-key-column": {
            "name": "dbrecord-lookup-key-column",
            "displayName": "Lookup Key Column",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Cache Expiration": {
            "name": "Cache Expiration",
            "displayName": "Cache Expiration",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbf-default-scale": {
            "name": "dbf-default-scale",
            "displayName": "Default Decimal Scale",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbrecord-lookup-table-name": {
            "name": "dbrecord-lookup-table-name",
            "displayName": "Table Name",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.lookup.LookupService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.23.2"
            }
          },
          {
            "type": "org.apache.nifi.lookup.RecordLookupService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.23.2"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "a12a248f-9437-3a50-b92a-6a395a507c82",
        "instanceIdentifier": "9fb8e84e-019e-1000-1715-19d72381cefe",
        "name": "JsonTreeReader",
        "type": "org.apache.nifi.json.JsonTreeReader",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-record-serialization-services-nar",
          "version": "1.23.2"
        },
        "properties": {
          "schema-branch": null,
          "schema-application-strategy": "SELECTED_PART",
          "Timestamp Format": null,
          "schema-inference-cache": null,
          "Date Format": null,
          "schema-name": "${schema.name}",
          "starting-field-strategy": "ROOT_NODE",
          "schema-registry": null,
          "starting-field-name": null,
          "Time Format": null,
          "schema-access-strategy": "infer-schema",
          "schema-version": null,
          "schema-text": "${avro.schema}"
        },
        "propertyDescriptors": {
          "schema-branch": {
            "name": "schema-branch",
            "displayName": "Schema Branch",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-application-strategy": {
            "name": "schema-application-strategy",
            "displayName": "Schema Application Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Timestamp Format": {
            "name": "Timestamp Format",
            "displayName": "Timestamp Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-inference-cache": {
            "name": "schema-inference-cache",
            "displayName": "Schema Inference Cache",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Date Format": {
            "name": "Date Format",
            "displayName": "Date Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-name": {
            "name": "schema-name",
            "displayName": "Schema Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "starting-field-strategy": {
            "name": "starting-field-strategy",
            "displayName": "Starting Field Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-registry": {
            "name": "schema-registry",
            "displayName": "Schema Registry",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "starting-field-name": {
            "name": "starting-field-name",
            "displayName": "Starting Field Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Time Format": {
            "name": "Time Format",
            "displayName": "Time Format",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-access-strategy": {
            "name": "schema-access-strategy",
            "displayName": "Schema Access Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-version": {
            "name": "schema-version",
            "displayName": "Schema Version",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "schema-text": {
            "name": "schema-text",
            "displayName": "Schema Text",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.serialization.RecordReaderFactory",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.23.2"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "b8ba9d01-6832-3d97-808a-1ad0adcf3674",
        "instanceIdentifier": "9fb8e9a3-019e-1000-de98-759ea4e119e5",
        "name": "VelocityCacheServer",
        "type": "org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-distributed-cache-services-nar",
          "version": "1.23.2"
        },
        "properties": {
          "Eviction Strategy": "First In, First Out",
          "SSL Context Service": null,
          "Persistence Directory": null,
          "maximum-read-size": "1 MB",
          "Port": "4557",
          "Maximum Cache Entries": "10000"
        },
        "propertyDescriptors": {
          "Eviction Strategy": {
            "name": "Eviction Strategy",
            "displayName": "Eviction Strategy",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Persistence Directory": {
            "name": "Persistence Directory",
            "displayName": "Persistence Directory",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "maximum-read-size": {
            "name": "maximum-read-size",
            "displayName": "Maximum Read Size",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Port": {
            "name": "Port",
            "displayName": "Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Maximum Cache Entries": {
            "name": "Maximum Cache Entries",
            "displayName": "Maximum Cache Entries",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "9e790243-9b37-30e4-8cca-62dd55dfd2d9",
        "instanceIdentifier": "9fb8e9df-019e-1000-b3a5-67c32b2871e9",
        "name": "VelocityCacheClient",
        "type": "org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-distributed-cache-services-nar",
          "version": "1.23.2"
        },
        "properties": {
          "SSL Context Service": null,
          "Server Port": "4557",
          "Server Hostname": "localhost",
          "Communications Timeout": "30 secs"
        },
        "propertyDescriptors": {
          "SSL Context Service": {
            "name": "SSL Context Service",
            "displayName": "SSL Context Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "Server Port": {
            "name": "Server Port",
            "displayName": "Server Port",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Server Hostname": {
            "name": "Server Hostname",
            "displayName": "Server Hostname",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Communications Timeout": {
            "name": "Communications Timeout",
            "displayName": "Communications Timeout",
            "identifiesControllerService": false,
            "sensitive": false
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.distributed.cache.client.DistributedMapCacheClient",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.23.2"
            }
          },
          {
            "type": "org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.23.2"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      },
      {
        "identifier": "f267af8f-9d82-3ac2-9056-233e5b6bbf15",
        "instanceIdentifier": "9fb8e910-019e-1000-ad3a-2df635e32963",
        "name": "DBCPConnectionPool",
        "type": "org.apache.nifi.dbcp.DBCPConnectionPool",
        "bundle": {
          "group": "org.apache.nifi",
          "artifact": "nifi-dbcp-service-nar",
          "version": "1.23.2"
        },
        "properties": {
          "dbcp-min-idle-conns": "0",
          "Max Wait Time": "500 millis",
          "Database Driver Class Name": "org.postgresql.Driver",
          "dbcp-min-evictable-idle-time": "30 mins",
          "kerberos-principal": null,
          "Max Total Connections": "8",
          "kerberos-credentials-service": null,
          "dbcp-max-conn-lifetime": "-1",
          "Validation-query": "SELECT 1",
          "Database Connection URL": "jdbc:postgresql://postgres:5432/banking_dw",
          "dbcp-time-between-eviction-runs": "-1",
          "Database User": "banking",
          "kerberos-user-service": null,
          "dbcp-soft-min-evictable-idle-time": "-1",
          "database-driver-locations": "/opt/nifi/nifi-current/lib/postgresql-42.5.0.jar",
          "dbcp-max-idle-conns": "8"
        },
        "propertyDescriptors": {
          "kerberos-password": {
            "name": "kerberos-password",
            "displayName": "Kerberos Password",
            "identifiesControllerService": false,
            "sensitive": true
          },
          "dbcp-min-idle-conns": {
            "name": "dbcp-min-idle-conns",
            "displayName": "Minimum Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Wait Time": {
            "name": "Max Wait Time",
            "displayName": "Max Wait Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Driver Class Name": {
            "name": "Database Driver Class Name",
            "displayName": "Database Driver Class Name",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-min-evictable-idle-time": {
            "name": "dbcp-min-evictable-idle-time",
            "displayName": "Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-principal": {
            "name": "kerberos-principal",
            "displayName": "Kerberos Principal",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Max Total Connections": {
            "name": "Max Total Connections",
            "displayName": "Max Total Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-credentials-service": {
            "name": "kerberos-credentials-service",
            "displayName": "Kerberos Credentials Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-max-conn-lifetime": {
            "name": "dbcp-max-conn-lifetime",
            "displayName": "Max Connection Lifetime",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Validation-query": {
            "name": "Validation-query",
            "displayName": "Validation query",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database Connection URL": {
            "name": "Database Connection URL",
            "displayName": "Database Connection URL",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "dbcp-time-between-eviction-runs": {
            "name": "dbcp-time-between-eviction-runs",
            "displayName": "Time Between Eviction Runs",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Database User": {
            "name": "Database User",
            "displayName": "Database User",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "kerberos-user-service": {
            "name": "kerberos-user-service",
            "displayName": "Kerberos User Service",
            "identifiesControllerService": true,
            "sensitive": false
          },
          "dbcp-soft-min-evictable-idle-time": {
            "name": "dbcp-soft-min-evictable-idle-time",
            "displayName": "Soft Minimum Evictable Idle Time",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "database-driver-locations": {
            "name": "database-driver-locations",
            "displayName": "Database Driver Location(s)",
            "identifiesControllerService": false,
            "sensitive": false,
            "resourceDefinition": {
              "cardinality": "MULTIPLE",
              "resourceTypes": [
                "FILE",
                "DIRECTORY",
                "URL"
              ]
            }
          },
          "dbcp-max-idle-conns": {
            "name": "dbcp-max-idle-conns",
            "displayName": "Max Idle Connections",
            "identifiesControllerService": false,
            "sensitive": false
          },
          "Password": {
            "name": "Password",
            "displayName": "Password",
            "identifiesControllerService": false,
            "sensitive": true
          }
        },
        "controllerServiceApis": [
          {
            "type": "org.apache.nifi.dbcp.DBCPService",
            "bundle": {
              "group": "org.apache.nifi",
              "artifact": "nifi-standard-services-api-nar",
              "version": "1.23.2"
            }
          }
        ],
        "scheduledState": "DISABLED",
        "bulletinLevel": "WARN",
        "componentType": "CONTROLLER_SERVICE",
        "groupIdentifier": "f754ce26-45b9-3ed5-9b41-4e043a9d800d"
      }
    ],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  },
  "externalControllerServices": {},
  "parameterContexts": {},
  "flowEncodingVersion": "1.0",
  "parameterProviders": {},
  "latest": false
}