nifi/flows/banking_pipeline.json
{"flowContents":{"identifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","instanceIdentifier":"8ef87018-019e-1000-e451-e430a9fba548","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"99158653-b1cd-3508-b1d2-1ebbc7947f53","instanceIdentifier":"8fe7d627-019e-1000-9765-d1b996db3d25","name":"QueryRecord","comments":"","position":{"x":2072.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.QueryRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"c7d1f12d-7a15-3466-a3f8-3466b69617b6","record-reader":"a6cf11f0-ad69-38b2-8515-2461ee79eadf","include-zero-record-flowfiles":"true","dbf-default-scale":"0","fraud_rule3":"SELECT * FROM FLOWFILE WHERE amount > 50000000 AND (CAST(SUBSTRING(\"timestamp\", 12, 2) AS INTEGER) >= 22 OR CAST(SUBSTRING(\"timestamp\", 12, 2) AS INTEGER) < 6)\n"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"fraud_rule3":{"name":"fraud_rule3","displayName":"fraud_rule3","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"ad595c70-82e5-341d-81bf-bceb38779c00","instanceIdentifier":"8f5cda93-019e-1000-4f4f-6f0f1a7010e4","name":"LookupRecord","comments":"","position":{"x":1208.0,"y":72.0},"type":"org.apache.nifi.processors.standard.LookupRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"result-contents":"insert-entire-record","routing-strategy":"route-to-success","record-path-lookup-miss-result-cache-size":"0","result-record-path":"/","record-writer":"c7d1f12d-7a15-3466-a3f8-3466b69617b6","record-reader":"a6cf11f0-ad69-38b2-8515-2461ee79eadf","lookup-service":"f6d1a074-774d-3e77-a44f-2d049063743a","record-update-strategy":"use-property","key":"/customer_id"},"propertyDescriptors":{"result-contents":{"name":"result-contents","displayName":"Record Result Contents","identifiesControllerService":false,"sensitive":false},"routing-strategy":{"name":"routing-strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"record-path-lookup-miss-result-cache-size":{"name":"record-path-lookup-miss-result-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"result-record-path":{"name":"result-record-path","displayName":"Result RecordPath","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"lookup-service":{"name":"lookup-service","displayName":"Lookup Service","identifiesControllerService":true,"sensitive":false},"record-update-strategy":{"name":"record-update-strategy","displayName":"Record Update Strategy","identifiesControllerService":false,"sensitive":false},"key":{"name":"key","displayName":"key","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"a2b64f68-55a1-335d-a184-9ca9db8c84bd","instanceIdentifier":"8fedbedf-019e-1000-01ba-bcd0c39217c8","name":"PublishKafka_2_6","comments":"","position":{"x":2648.0,"y":-56.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"kafka:29092\n","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"txn.alert","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"b3e08321-dbd7-3cec-812f-b47076982f24","instanceIdentifier":"8f24a36a-019e-1000-9b60-dd585904a601","name":"JoltTransformJSON","comments":"","position":{"x":1056.0,"y":424.0},"type":"org.apache.nifi.processors.standard.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"jolt-spec":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"*\": {\n        \"transaction_id\":    \"[&1].transaction_id\",\n        \"timestamp\":         \"[&1].timestamp\",\n        \"account_masked\":    \"[&1].account_masked\",\n        \"customer_id\":       \"[&1].customer_id\",\n        \"channel\":           \"[&1].channel\",\n        \"merchant_id\":       \"[&1].merchant_id\",\n        \"merchant_province\": \"[&1].merchant_province\",\n        \"merchant_lat\":      \"[&1].merchant_lat\",\n        \"merchant_lon\":      \"[&1].merchant_lon\",\n        \"amount\":            \"[&1].amount\",\n        \"currency\":          \"[&1].currency\",\n        \"status\":            \"[&1].status\",\n        \"fraud_label\":       \"[&1].fraud_label\",\n        \"fraud_type\":        \"[&1].fraud_type\"\n      }\n    }\n  }\n]\n","jolt-transform":"jolt-transform-chain","jolt-custom-class":null,"jolt-custom-modules":null,"pretty_print":"false","Transform Cache Size":"1"},"propertyDescriptors":{"jolt-spec":{"name":"jolt-spec","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"jolt-transform":{"name":"jolt-transform","displayName":"Jolt Transformation DSL","identifiesControllerService":false,"sensitive":false},"jolt-custom-class":{"name":"jolt-custom-class","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false},"jolt-custom-modules":{"name":"jolt-custom-modules","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"pretty_print":{"name":"pretty_print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"0ce6fdbc-21ce-39a7-8db4-ccc871303f4e","instanceIdentifier":"901fc3a2-019e-1000-8afe-df46da5faff6","name":"CheckDuplicate_Rule4","comments":"","position":{"x":1944.0,"y":-528.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":"/opt/nifi/nifi-current/data/scripts/duplicate_check.groovy","Script Engine":"Groovy","Script Body":null,"DMCServiceId":"8ffa4eb2-019e-1000-fd0c-6065521f62ae","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"DMCServiceId":{"name":"DMCServiceId","displayName":"DMCServiceId","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"cbbaf235-eef8-3078-9ca3-9c9c3d7ea62b","instanceIdentifier":"8f08a072-019e-1000-d353-3a4197eb9c59","name":"ConsumeKafka_2_6","comments":"","position":{"x":680.0,"y":296.0},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"header-name-regex":null,"Commit Offsets":"true","group.id":"nifi-banking-group","bootstrap.servers":"kafka:29092","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"max-uncommit-offset-wait":"1 secs","sasl.mechanism":"GSSAPI","honor-transactions":"true","kerberos-user-service":null,"message-header-encoding":"UTF-8","message-demarcator":null,"sasl.username":null,"max.poll.records":"100","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"sasl.token.auth":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"txn.raw","separate-by-key":"false","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"2936c90f-1134-39db-9c31-7aa4e48336b1","instanceIdentifier":"90138154-019e-1000-0f3b-452125567b5a","name":"InsertFactAlert_Velocity","comments":"","position":{"x":1592.0,"y":-784.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":"INSERT INTO fact_alert (alert_id, transaction_id, rule_triggered, severity, detected_at)\nVALUES (\n    '${alert_id}',\n    '${txn_id}',\n    '${rule_triggered}',\n    '${severity}',\n    NOW()\n)\nON CONFLICT (alert_id) DO NOTHING\n","Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"3c2d9026-671c-3285-aceb-28bc26fd745d","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"7a0c1272-1b42-3962-913a-b56f97903291","instanceIdentifier":"9059712e-019e-1000-74a4-1662ba74ee0c","name":"PutS3Object","comments":"","position":{"x":504.0,"y":624.0},"type":"org.apache.nifi.processors.aws.s3.PutS3Object","bundle":{"group":"org.apache.nifi","artifact":"nifi-aws-nar","version":"1.23.2"},"properties":{"Proxy Host":null,"FullControl User List":"${s3.permissions.full.users}","Owner":"${s3.owner}","proxy-configuration-service":null,"Cache Control":null,"s3-object-remove-tags-prefix":"false","Endpoint Override URL":"http://minio:9000\n","Multipart Upload Max Age Threshold":"7 days","custom-signer-class-name":null,"canned-acl":"${s3.permissions.cannedacl}","custom-signer-module-location":null,"Signer Override":"Default Signature","Content Type":null,"Write ACL User List":"${s3.permissions.writeacl.users}","server-side-encryption":"None","Read ACL User List":"${s3.permissions.readacl.users}","encryption-service":null,"Content Disposition":null,"Storage Class":"Standard","Multipart Part Size":"5 GB","use-chunked-encoding":"true","Object Key":"raw/${now():format('yyyy/MM/dd')}/${uuid}.json\n","AWS Credentials Provider service":null,"Multipart Threshold":"5 GB","s3-object-tags-prefix":null,"SSL Context Service":null,"Bucket":"txnraw","Multipart Upload AgeOff Interval":"60 min","use-path-style-access":"true","Write Permission User List":"${s3.permissions.write.users}","Communications Timeout":"30 secs","Credentials File":null,"Region":"us-east-1","Read Permission User List":"${s3.permissions.read.users}","Expiration Time Rule":null,"proxy-user-name":null,"Proxy Host Port":null,"s3-temporary-directory-multipart":"${java.io.tmpdir}"},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"FullControl User List":{"name":"FullControl User List","displayName":"FullControl User List","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Access Key":{"name":"Access Key","displayName":"Access Key ID","identifiesControllerService":false,"sensitive":true},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Cache Control":{"name":"Cache Control","displayName":"Cache Control","identifiesControllerService":false,"sensitive":false},"s3-object-remove-tags-prefix":{"name":"s3-object-remove-tags-prefix","displayName":"Remove Tag Prefix","identifiesControllerService":false,"sensitive":false},"Endpoint Override URL":{"name":"Endpoint Override URL","displayName":"Endpoint Override URL","identifiesControllerService":false,"sensitive":false},"Multipart Upload Max Age Threshold":{"name":"Multipart Upload Max Age Threshold","displayName":"Multipart Upload Max Age Threshold","identifiesControllerService":false,"sensitive":false},"custom-signer-class-name":{"name":"custom-signer-class-name","displayName":"Custom Signer Class Name","identifiesControllerService":false,"sensitive":false},"canned-acl":{"name":"canned-acl","displayName":"Canned ACL","identifiesControllerService":false,"sensitive":false},"custom-signer-module-location":{"name":"custom-signer-module-location","displayName":"Custom Signer Module Location","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}},"Signer Override":{"name":"Signer Override","displayName":"Signer Override","identifiesControllerService":false,"sensitive":false},"proxy-user-password":{"name":"proxy-user-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"Secret Key":{"name":"Secret Key","displayName":"Secret Access Key","identifiesControllerService":false,"sensitive":true},"Write ACL User List":{"name":"Write ACL User List","displayName":"Write ACL User List","identifiesControllerService":false,"sensitive":false},"server-side-encryption":{"name":"server-side-encryption","displayName":"Server Side Encryption","identifiesControllerService":false,"sensitive":false},"Read ACL User List":{"name":"Read ACL User List","displayName":"Read ACL User List","identifiesControllerService":false,"sensitive":false},"encryption-service":{"name":"encryption-service","displayName":"Encryption Service","identifiesControllerService":true,"sensitive":false},"Content Disposition":{"name":"Content Disposition","displayName":"Content Disposition","identifiesControllerService":false,"sensitive":false},"Storage Class":{"name":"Storage Class","displayName":"Storage Class","identifiesControllerService":false,"sensitive":false},"Multipart Part Size":{"name":"Multipart Part Size","displayName":"Multipart Part Size","identifiesControllerService":false,"sensitive":false},"use-chunked-encoding":{"name":"use-chunked-encoding","displayName":"Use Chunked Encoding","identifiesControllerService":false,"sensitive":false},"Object Key":{"name":"Object Key","displayName":"Object Key","identifiesControllerService":false,"sensitive":false},"AWS Credentials Provider service":{"name":"AWS Credentials Provider service","displayName":"AWS Credentials Provider Service","identifiesControllerService":true,"sensitive":false},"Multipart Threshold":{"name":"Multipart Threshold","displayName":"Multipart Threshold","identifiesControllerService":false,"sensitive":false},"s3-object-tags-prefix":{"name":"s3-object-tags-prefix","displayName":"Object Tags Prefix","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Bucket":{"name":"Bucket","displayName":"Bucket","identifiesControllerService":false,"sensitive":false},"Multipart Upload AgeOff Interval":{"name":"Multipart Upload AgeOff Interval","displayName":"Multipart Upload AgeOff Interval","identifiesControllerService":false,"sensitive":false},"use-path-style-access":{"name":"use-path-style-access","displayName":"Use Path Style Access","identifiesControllerService":false,"sensitive":false},"Write Permission User List":{"name":"Write Permission User List","displayName":"Write Permission User List","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"Credentials File":{"name":"Credentials File","displayName":"Credentials File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Region":{"name":"Region","displayName":"Region","identifiesControllerService":false,"sensitive":false},"Read Permission User List":{"name":"Read Permission User List","displayName":"Read Permission User List","identifiesControllerService":false,"sensitive":false},"Expiration Time Rule":{"name":"Expiration Time Rule","displayName":"Expiration Time Rule","identifiesControllerService":false,"sensitive":false},"proxy-user-name":{"name":"proxy-user-name","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Proxy Host Port":{"name":"Proxy Host Port","displayName":"Proxy Host Port","identifiesControllerService":false,"sensitive":false},"s3-temporary-directory-multipart":{"name":"s3-temporary-directory-multipart","displayName":"Temporary Directory Multipart State","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"101d1209-52ac-3831-ae0c-1f537845e86b","instanceIdentifier":"8ffbb3cb-019e-1000-f7c8-5747162bd49c","name":"CheckVelocity_Rule1","comments":"","position":{"x":1312.0,"y":-216.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":"/opt/nifi/nifi-current/data/scripts/velocity_check.groovy","Script Engine":"Groovy","Script Body":null,"DMCServiceId":"8ffa4eb2-019e-1000-fd0c-6065521f62ae","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"DMCServiceId":{"name":"DMCServiceId","displayName":"DMCServiceId","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"aad79967-1105-3ba4-ba69-ed358fbd9fd5","instanceIdentifier":"8f0c9adc-019e-1000-64ea-d6becffed19a","name":"ValidateRecord","comments":"","position":{"x":840.0,"y":-96.0},"type":"org.apache.nifi.processors.standard.ValidateRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"allow-extra-fields":"true","strict-type-checking":"true","schema-name":"${schema.name}","record-writer":"c7d1f12d-7a15-3466-a3f8-3466b69617b6","invalid-record-writer":"c7d1f12d-7a15-3466-a3f8-3466b69617b6","schema-registry":null,"coerce-types":"false","validation-details-attribute-name":null,"record-reader":"a6cf11f0-ad69-38b2-8515-2461ee79eadf","maximum-validation-details-length":"1024","schema-access-strategy":"schema-text-property","schema-text":"{\n  \"type\": \"record\",\n  \"name\": \"Transaction\",\n  \"fields\": [\n    {\"name\": \"transaction_id\", \"type\": \"string\"},\n    {\"name\": \"timestamp\", \"type\": \"string\"},\n    {\"name\": \"account_masked\", \"type\": \"string\"},\n    {\"name\": \"channel\", \"type\": \"string\"},\n    {\"name\": \"amount\", \"type\": [\"int\", \"long\", \"float\", \"double\"]},\n    {\"name\": \"status\", \"type\": \"string\"}\n  ]\n}"},"propertyDescriptors":{"allow-extra-fields":{"name":"allow-extra-fields","displayName":"Allow Extra Fields","identifiesControllerService":false,"sensitive":false},"strict-type-checking":{"name":"strict-type-checking","displayName":"Strict Type Checking","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"invalid-record-writer":{"name":"invalid-record-writer","displayName":"Record Writer for Invalid Records","identifiesControllerService":true,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"coerce-types":{"name":"coerce-types","displayName":"Force Types From Reader's Schema","identifiesControllerService":false,"sensitive":false},"validation-details-attribute-name":{"name":"validation-details-attribute-name","displayName":"Validation Details Attribute Name","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"maximum-validation-details-length":{"name":"maximum-validation-details-length","displayName":"Maximum Validation Details Length","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"d3ce3570-7be7-3802-8ad8-db94f99e9f02","instanceIdentifier":"903d8da9-019e-1000-d3b6-e1d5803c71d3","name":"CheckGeoAnomaly_Rule2","comments":"","position":{"x":2592.0,"y":-704.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"1.23.2"},"properties":{"Script File":"/opt/nifi/nifi-current/data/scripts/geo_anomaly_check.groovy","Script Engine":"Groovy","Script Body":null,"DMCServiceId":"8ffa4eb2-019e-1000-fd0c-6065521f62ae","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false},"DMCServiceId":{"name":"DMCServiceId","displayName":"DMCServiceId","identifiesControllerService":false,"sensitive":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","DIRECTORY"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"db4bbbb2-b3fe-3748-a73e-7d2d026c679c","instanceIdentifier":"8f1e68fc-019e-1000-32a6-02fdfe93d53e","name":"PublishKafka_2_6","comments":"","position":{"x":872.0,"y":-408.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.23.2"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"kafka:29092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"false","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"txn.dead-letter","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"c2902bcf-5ba7-3c7f-a374-05d036f6ac04","instanceIdentifier":"8fbb7ee0-019e-1000-c21f-d5458b811107","name":"PutDatabaseRecord","comments":"","position":{"x":1544.0,"y":408.0},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.23.2"},"properties":{"put-db-record-allow-multiple-statements":"false","table-schema-cache-size":"100","put-db-record-schema-name":"public","put-db-record-field-containing-sql":null,"put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"put-db-record-unmatched-column-behavior":"Ignore Unmatched Columns","put-db-record-catalog-name":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"3c2d9026-671c-3285-aceb-28bc26fd745d","put-db-record-query-timeout":"0 seconds","rollback-on-failure":"false","put-db-record-statement-type":"INSERT","db-type":"Generic","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-table-name":"fact_txn","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"1000","put-db-record-record-reader":"a6cf11f0-ad69-38b2-8515-2461ee79eadf","Data Record Path":null},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure","retry"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"1d20b14c-f1b7-3ea7-a61c-89229acd3727","instanceIdentifier":"8fc2049f-019e-1000-6685-f1d7d5ee1830","name":"UpdateAttribute","comments":"","position":{"x":2208.0,"y":392.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.23.2"},"properties":{"severity":"HIGH","Delete Attributes Expression":null,"rule_triggered":"off_hours_large","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","alert_id":"ALT-${UUID()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"severity":{"name":"severity","displayName":"severity","identifiesControllerService":false,"sensitive":false},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"rule_triggered":{"name":"rule_triggered","displayName":"rule_triggered","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"alert_id":{"name":"alert_id","displayName":"alert_id","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b6d76ab3-cb88-305a-a317-6618b4180745","instanceIdentifier":"9000c0fe-019e-1000-58b6-8b538cd7f920","name":"","source":{"id":"101d1209-52ac-3831-ae0c-1f537845e86b","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckVelocity_Rule1","comments":"","instanceIdentifier":"8ffbb3cb-019e-1000-f7c8-5747162bd49c"},"destination":{"id":"a2b64f68-55a1-335d-a184-9ca9db8c84bd","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"8fedbedf-019e-1000-01ba-bcd0c39217c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"afd5ed9b-63ec-3493-a55b-1f555c297c5a","instanceIdentifier":"90253ef1-019e-1000-ca75-46e8dd08ebf6","name":"","source":{"id":"0ce6fdbc-21ce-39a7-8db4-ccc871303f4e","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckDuplicate_Rule4","comments":"","instanceIdentifier":"901fc3a2-019e-1000-8afe-df46da5faff6"},"destination":{"id":"a2b64f68-55a1-335d-a184-9ca9db8c84bd","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"8fedbedf-019e-1000-01ba-bcd0c39217c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"20e45231-6689-3788-b07e-c539a5821d3f","instanceIdentifier":"903ec61c-019e-1000-1099-5898ea28eac7","name":"","source":{"id":"0ce6fdbc-21ce-39a7-8db4-ccc871303f4e","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckDuplicate_Rule4","comments":"","instanceIdentifier":"901fc3a2-019e-1000-8afe-df46da5faff6"},"destination":{"id":"d3ce3570-7be7-3802-8ad8-db94f99e9f02","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckGeoAnomaly_Rule2","comments":"","instanceIdentifier":"903d8da9-019e-1000-d3b6-e1d5803c71d3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"6a311026-b05e-34a5-94e1-fb6d6658711b","instanceIdentifier":"8f255ef3-019e-1000-b1d5-abb9da2859e6","name":"","source":{"id":"aad79967-1105-3ba4-ba69-ed358fbd9fd5","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"ValidateRecord","comments":"","instanceIdentifier":"8f0c9adc-019e-1000-64ea-d6becffed19a"},"destination":{"id":"b3e08321-dbd7-3cec-812f-b47076982f24","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8f24a36a-019e-1000-9b60-dd585904a601"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"2bb5b7d6-7d5b-3975-8213-85d1619aba10","instanceIdentifier":"903f78db-019e-1000-51e5-a1f51d6a0ea7","name":"","source":{"id":"d3ce3570-7be7-3802-8ad8-db94f99e9f02","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckGeoAnomaly_Rule2","comments":"","instanceIdentifier":"903d8da9-019e-1000-d3b6-e1d5803c71d3"},"destination":{"id":"c2902bcf-5ba7-3c7f-a374-05d036f6ac04","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"8fbb7ee0-019e-1000-c21f-d5458b811107"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"896f33e6-c419-3300-8021-715a08beb05f","instanceIdentifier":"8fcceef9-019e-1000-9052-1d13da6507fe","name":"","source":{"id":"b3e08321-dbd7-3cec-812f-b47076982f24","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8f24a36a-019e-1000-9b60-dd585904a601"},"destination":{"id":"ad595c70-82e5-341d-81bf-bceb38779c00","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"LookupRecord","comments":"","instanceIdentifier":"8f5cda93-019e-1000-4f4f-6f0f1a7010e4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"e24f588a-8714-3761-b003-93db380668f2","instanceIdentifier":"905c353e-019e-1000-edca-e830859851d0","name":"","source":{"id":"b3e08321-dbd7-3cec-812f-b47076982f24","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"JoltTransformJSON","comments":"","instanceIdentifier":"8f24a36a-019e-1000-9b60-dd585904a601"},"destination":{"id":"7a0c1272-1b42-3962-913a-b56f97903291","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PutS3Object","comments":"","instanceIdentifier":"9059712e-019e-1000-74a4-1662ba74ee0c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"5823de72-a14e-30ad-9fe3-8d3d47b37ce5","instanceIdentifier":"903ee304-019e-1000-4715-f3860ee367cb","name":"","source":{"id":"d3ce3570-7be7-3802-8ad8-db94f99e9f02","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckGeoAnomaly_Rule2","comments":"","instanceIdentifier":"903d8da9-019e-1000-d3b6-e1d5803c71d3"},"destination":{"id":"99158653-b1cd-3508-b1d2-1ebbc7947f53","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"QueryRecord","comments":"","instanceIdentifier":"8fe7d627-019e-1000-9765-d1b996db3d25"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"d9acbcaa-0a12-3f13-b22d-5a9ffd1536e0","instanceIdentifier":"9028006d-019e-1000-31d6-89336b933b9b","name":"","source":{"id":"0ce6fdbc-21ce-39a7-8db4-ccc871303f4e","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckDuplicate_Rule4","comments":"","instanceIdentifier":"901fc3a2-019e-1000-8afe-df46da5faff6"},"destination":{"id":"2936c90f-1134-39db-9c31-7aa4e48336b1","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"InsertFactAlert_Velocity","comments":"","instanceIdentifier":"90138154-019e-1000-0f3b-452125567b5a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"b28915cd-deb4-3f5b-a4a7-2eda416776e0","instanceIdentifier":"8fe8aaff-019e-1000-63a0-bc7130bee36a","name":"","source":{"id":"99158653-b1cd-3508-b1d2-1ebbc7947f53","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"QueryRecord","comments":"","instanceIdentifier":"8fe7d627-019e-1000-9765-d1b996db3d25"},"destination":{"id":"c2902bcf-5ba7-3c7f-a374-05d036f6ac04","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"8fbb7ee0-019e-1000-c21f-d5458b811107"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"cee8432d-14c5-3dba-ad48-f9a586620277","instanceIdentifier":"8fffe936-019e-1000-d832-419c5433844b","name":"","source":{"id":"ad595c70-82e5-341d-81bf-bceb38779c00","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"LookupRecord","comments":"","instanceIdentifier":"8f5cda93-019e-1000-4f4f-6f0f1a7010e4"},"destination":{"id":"101d1209-52ac-3831-ae0c-1f537845e86b","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckVelocity_Rule1","comments":"","instanceIdentifier":"8ffbb3cb-019e-1000-f7c8-5747162bd49c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"25c0ef42-d949-3218-b0e5-3cfedf35d5da","instanceIdentifier":"8f20a5e4-019e-1000-89f5-4dc50ab5bb12","name":"","source":{"id":"cbbaf235-eef8-3078-9ca3-9c9c3d7ea62b","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"ConsumeKafka_2_6","comments":"","instanceIdentifier":"8f08a072-019e-1000-d353-3a4197eb9c59"},"destination":{"id":"aad79967-1105-3ba4-ba69-ed358fbd9fd5","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"ValidateRecord","comments":"","instanceIdentifier":"8f0c9adc-019e-1000-64ea-d6becffed19a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"471eac15-68f4-34f4-831e-97116f61ed8d","instanceIdentifier":"8fe8938f-019e-1000-615f-f09e5b5c8024","name":"","source":{"id":"99158653-b1cd-3508-b1d2-1ebbc7947f53","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"QueryRecord","comments":"","instanceIdentifier":"8fe7d627-019e-1000-9765-d1b996db3d25"},"destination":{"id":"1d20b14c-f1b7-3ea7-a61c-89229acd3727","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"UpdateAttribute","comments":"","instanceIdentifier":"8fc2049f-019e-1000-6685-f1d7d5ee1830"},"labelIndex":1,"zIndex":0,"selectedRelationships":["fraud_rule3"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"8a1579c5-fa87-390b-adf2-0878cf53e986","instanceIdentifier":"90014c1f-019e-1000-9e04-b9582730553d","name":"","source":{"id":"101d1209-52ac-3831-ae0c-1f537845e86b","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckVelocity_Rule1","comments":"","instanceIdentifier":"8ffbb3cb-019e-1000-f7c8-5747162bd49c"},"destination":{"id":"c2902bcf-5ba7-3c7f-a374-05d036f6ac04","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"8fbb7ee0-019e-1000-c21f-d5458b811107"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"519d00a0-cd0e-380b-9ba1-ecc294ebb2f9","instanceIdentifier":"8f1fb0fb-019e-1000-4789-ba3cc1d2de1d","name":"","source":{"id":"aad79967-1105-3ba4-ba69-ed358fbd9fd5","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"ValidateRecord","comments":"","instanceIdentifier":"8f0c9adc-019e-1000-64ea-d6becffed19a"},"destination":{"id":"db4bbbb2-b3fe-3748-a73e-7d2d026c679c","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"8f1e68fc-019e-1000-32a6-02fdfe93d53e"},"labelIndex":1,"zIndex":0,"selectedRelationships":["invalid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"81bbca66-f264-30f2-a996-57cbcd9913f5","instanceIdentifier":"903fafa8-019e-1000-ae76-02bec193c2ab","name":"","source":{"id":"d3ce3570-7be7-3802-8ad8-db94f99e9f02","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckGeoAnomaly_Rule2","comments":"","instanceIdentifier":"903d8da9-019e-1000-d3b6-e1d5803c71d3"},"destination":{"id":"2936c90f-1134-39db-9c31-7aa4e48336b1","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"InsertFactAlert_Velocity","comments":"","instanceIdentifier":"90138154-019e-1000-0f3b-452125567b5a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"d7159184-102b-345d-9022-e576a32fedd2","instanceIdentifier":"90244273-019e-1000-11ce-7230c25e841b","name":"","source":{"id":"101d1209-52ac-3831-ae0c-1f537845e86b","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckVelocity_Rule1","comments":"","instanceIdentifier":"8ffbb3cb-019e-1000-f7c8-5747162bd49c"},"destination":{"id":"0ce6fdbc-21ce-39a7-8db4-ccc871303f4e","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckDuplicate_Rule4","comments":"","instanceIdentifier":"901fc3a2-019e-1000-8afe-df46da5faff6"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"58ea36ce-1b8e-36d4-bbc7-ead63bdebd4e","instanceIdentifier":"9027a786-019e-1000-5bba-14a868117176","name":"","source":{"id":"0ce6fdbc-21ce-39a7-8db4-ccc871303f4e","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckDuplicate_Rule4","comments":"","instanceIdentifier":"901fc3a2-019e-1000-8afe-df46da5faff6"},"destination":{"id":"c2902bcf-5ba7-3c7f-a374-05d036f6ac04","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"8fbb7ee0-019e-1000-c21f-d5458b811107"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"c44541d0-c9a5-3fc8-bd67-8e2410066b0f","instanceIdentifier":"8fc71721-019e-1000-9404-631c979c9f75","name":"","source":{"id":"1d20b14c-f1b7-3ea7-a61c-89229acd3727","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"UpdateAttribute","comments":"","instanceIdentifier":"8fc2049f-019e-1000-6685-f1d7d5ee1830"},"destination":{"id":"c2902bcf-5ba7-3c7f-a374-05d036f6ac04","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"8fbb7ee0-019e-1000-c21f-d5458b811107"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"300d833e-6bb6-3aed-ba13-180dabed5767","instanceIdentifier":"903f2ff7-019e-1000-8b22-e09ad2077173","name":"","source":{"id":"d3ce3570-7be7-3802-8ad8-db94f99e9f02","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckGeoAnomaly_Rule2","comments":"","instanceIdentifier":"903d8da9-019e-1000-d3b6-e1d5803c71d3"},"destination":{"id":"a2b64f68-55a1-335d-a184-9ca9db8c84bd","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"8fedbedf-019e-1000-01ba-bcd0c39217c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"b31fb766-0042-370c-a647-be027d5891d4","instanceIdentifier":"8fee426e-019e-1000-ee42-fb199fbd9228","name":"","source":{"id":"1d20b14c-f1b7-3ea7-a61c-89229acd3727","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"UpdateAttribute","comments":"","instanceIdentifier":"8fc2049f-019e-1000-6685-f1d7d5ee1830"},"destination":{"id":"a2b64f68-55a1-335d-a184-9ca9db8c84bd","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"8fedbedf-019e-1000-01ba-bcd0c39217c8"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"f7bb8944-34e9-3c73-a243-3c838c814f1f","instanceIdentifier":"9013ea7b-019e-1000-5955-3ad1acff4cac","name":"","source":{"id":"101d1209-52ac-3831-ae0c-1f537845e86b","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"CheckVelocity_Rule1","comments":"","instanceIdentifier":"8ffbb3cb-019e-1000-f7c8-5747162bd49c"},"destination":{"id":"2936c90f-1134-39db-9c31-7aa4e48336b1","type":"PROCESSOR","groupId":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc","name":"InsertFactAlert_Velocity","comments":"","instanceIdentifier":"90138154-019e-1000-0f3b-452125567b5a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"c7d1f12d-7a15-3466-a3f8-3466b69617b6","instanceIdentifier":"8f100c39-019e-1000-28fd-0a241d6fd72f","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"3c2d9026-671c-3285-aceb-28bc26fd745d","instanceIdentifier":"8f30edd4-019e-1000-54b5-7abfb42c03a0","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"1.23.2"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","kerberos-principal":null,"Max Total Connections":"8","kerberos-credentials-service":null,"dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://postgres:5432/banking_dw","dbcp-time-between-eviction-runs":"-1","Database User":"banking","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/postgresql-42.7.3.jar\n","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"kerberos-password":{"name":"kerberos-password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"kerberos-principal":{"name":"kerberos-principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["FILE","URL","DIRECTORY"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"f6d1a074-774d-3e77-a44f-2d049063743a","instanceIdentifier":"8f390b2d-019e-1000-266b-a8c44d790e59","name":"DatabaseRecordLookupService","comments":"","type":"org.apache.nifi.lookup.db.DatabaseRecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-lookup-services-nar","version":"1.23.2"},"properties":{"dbrecord-lookup-dbcp-service":"3c2d9026-671c-3285-aceb-28bc26fd745d","dbf-default-precision":"10","dbrecord-lookup-clear-cache-on-enabled":"true","dbrecord-lookup-cache-size":"1000","dbrecord-lookup-value-columns":"segment,risk_score,home_province\n","dbrecord-lookup-key-column":"customer_id","Cache Expiration":"10 mins","dbf-default-scale":"0","dbrecord-lookup-table-name":"dim_customer"},"propertyDescriptors":{"dbrecord-lookup-dbcp-service":{"name":"dbrecord-lookup-dbcp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"dbrecord-lookup-clear-cache-on-enabled":{"name":"dbrecord-lookup-clear-cache-on-enabled","displayName":"Clear Cache on Enabled","identifiesControllerService":false,"sensitive":false},"dbrecord-lookup-cache-size":{"name":"dbrecord-lookup-cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false},"dbrecord-lookup-value-columns":{"name":"dbrecord-lookup-value-columns","displayName":"Lookup Value Columns","identifiesControllerService":false,"sensitive":false},"dbrecord-lookup-key-column":{"name":"dbrecord-lookup-key-column","displayName":"Lookup Key Column","identifiesControllerService":false,"sensitive":false},"Cache Expiration":{"name":"Cache Expiration","displayName":"Cache Expiration","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"dbrecord-lookup-table-name":{"name":"dbrecord-lookup-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.lookup.RecordLookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}},{"type":"org.apache.nifi.lookup.LookupService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"a6cf11f0-ad69-38b2-8515-2461ee79eadf","instanceIdentifier":"8f0e931e-019e-1000-5055-327ac837cf6b","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.23.2"},"properties":{"schema-branch":null,"schema-application-strategy":"SELECTED_PART","Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-name":"${schema.name}","starting-field-strategy":"ROOT_NODE","schema-registry":null,"starting-field-name":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-application-strategy":{"name":"schema-application-strategy","displayName":"Schema Application Strategy","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"starting-field-strategy":{"name":"starting-field-strategy","displayName":"Starting Field Strategy","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"starting-field-name":{"name":"starting-field-name","displayName":"Starting Field Name","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"c37b36fd-6914-3de0-af1b-93caf6bf45ad","instanceIdentifier":"8ff96699-019e-1000-0d05-3562596a66c8","name":"VelocityCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.DistributedMapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.23.2"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"},{"identifier":"f166078d-98c3-34ae-93e8-18e7047e4840","instanceIdentifier":"8ffa4eb2-019e-1000-fd0c-6065521f62ae","name":"VelocityCacheClient","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.23.2"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.23.2"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"1d4b1ed4-e044-3fa5-8265-049ddfe8f7dc"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}